.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container {
    /* width: calc(16 * 2.5rem); */
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    /* width: 2.5rem;
    height: 2.5rem; */
    border: 1px solid black;
    box-sizing: border-box;

    /*Centering Container*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

#newGrid {
    margin: 15px
}